<html>
	<head>
	    <title>Analyse Network Traffic</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	    <script src="/sockjs-0.3.4.js"></script>
	    <script src="/stomp.js"></script>

	    <script type="text/javascript">

	        var stompClient = null;

	        function setConnected(connected) {

	            document.getElementById('connect').disabled = connected;
	            document.getElementById('disconnect').disabled = !connected;
	            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
	            document.getElementById('response').innerHTML = '';
	        }

	        function connect() {

	            var socket = new SockJS('/chatwithbots');
	            stompClient = Stomp.over(socket);

	            stompClient.connect({}, function(frame) {

	            	setConnected(true);
	                console.log('Connected: ' + frame);
	                stompClient.subscribe('/topic/pushmessages', function(messageOutput) {

	                    showMessageOutput(JSON.parse(messageOutput.body));
	                });
	            });
	        }

	        function disconnect() {

	            if(stompClient != null) {
	                stompClient.disconnect();
	            }

	            setConnected(false);
	            console.log("Disconnected");
	        }

	        function sendMessage() {

	        	var from = document.getElementById('from').value;
	            var text = document.getElementById('text').value;
	            stompClient.send("/app/chatwithbots", {}, JSON.stringify({'from':from, 'text':text}));
	        }


	        function showMessageOutput(messageOutput) {

				if (messageOutput.id == null || messageOutput.id == 0) {
					 console.log("MessageOutput is empty");
					 return;
				}

	            var response = document.getElementById('response');

	            messageOutput.id;

				messageOutput.captureDate;
				//messageOutput.user;
				messageOutput.captureList;

				var list =  messageOutput.captureList;
				for (position in list) {
					var pHeader = document.createElement('p');
					pHeader.style.wordWrap = 'break-word';
					var headerValue = list[position].title + " captureId:" +  messageOutput.id;
					pHeader.appendChild(document.createTextNode(headerValue));
					pHeader.style.fontWeight = 'bold';

					var p = document.createElement('p');
					p.style.wordWrap = 'break-word';
					p.appendChild(document.createTextNode(list[position].value + "  "));

					var vulnerabilities = list[position].vulnerabilities;
					for (v in vulnerabilities) {

						 if (vulnerabilities[v] == '307 Redirect Vulnerability') {

							 var link = document.createElement("a");
							 link.setAttribute("href", "https://tools.ietf.org/id/draft-ietf-oauth-security-topics-08.html#rfc.section.3.9");
							 link.setAttribute("target", "_blank");
							 link.classList.add("label");

							 link.classList.add("label-info"); //light green

							 link.appendChild(document.createTextNode("307 Redirect Vulnerability"));

							 p.appendChild(link);

						 }

						 if (vulnerabilities[v] == 'CSRF Vulnerability') {

							 var link = document.createElement("a");
							 link.setAttribute("href", "https://datatracker.ietf.org/doc/html/rfc6749#section-10.12");
							 link.setAttribute("target", "_blank");
							 link.classList.add("label");

							 link.classList.add("label-warning"); //yellow

							 link.appendChild(document.createTextNode("CSRF Vulnerability"));

							 p.appendChild(link);

						 }

						 if (vulnerabilities[v] == 'MixUp Vulnerability') {

							 var link = document.createElement("a");
							 link.setAttribute("href", "https://datatracker.ietf.org/doc/html/draft-ietf-oauth-mix-up-mitigation-01");
							 link.setAttribute("target", "_blank");
							 link.classList.add("label");

							 link.classList.add("label-danger"); //red

							 link.appendChild(document.createTextNode("MixUp Vulnerability"));

							 p.appendChild(link);

						 }
					}

					response.appendChild(pHeader);
					response.appendChild(p);
				}

	        }

	    </script>
	    
	</head>
	
	<body onload="disconnect()">

		<div class="container">

			<h2>Analyse Network Traffic</h2>
			<br />
			<div class="form-group">
				<span class="label label-info">307 Redirect Vulnerability</span>
				<span class="label label-warning">CSRF Vulnerability</span>
				<span class="label label-danger">MixUp Vulnerability</span>
			</div>
			<br />
<!--			<div>-->
<!--				<div class="form-group">-->
<!--					<p><strong>Execution Time:</strong></p>-->
<!--					<input type="text" id="from" placeholder="time (minutes)"/>-->
<!--				</div>-->
<!--			</div>-->
<!--			<br />-->
		    <div>
				<button id="connect" onclick="connect();">Check Vulnerabilities</button>
		        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
		    </div>
		    <br />
		    <div id="conversationDiv">
<!--		        <input type="text" id="text" placeholder="Write a message..."/>-->
<!--		        <button id="sendMessage" onclick="sendMessage();">Send</button>-->
		        <p id="response"></p>
		    </div>
		</div>

	</body>
</html>