<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Execution</h2>
    <h2>See execution</h2>
    <p><strong>Execution:</strong> Client  <strong  th:text="${user.name}" ></strong> access Authorization Server <strong  th:text="${user.as}" ></strong></p>
    <div class="panel-group" id="accordion">


        <div class="panel panel-default" th:each="captured : ${captured}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" th:href="'#accordion' + ${captured.id}">Teste  <td th:text="${captured.title}"></td></a>
                </h4>
            </div>
            <div th:id="'accordion' + ${captured.id}" class="panel-collapse collapse">
                <div class="panel-body">
                    <textarea  th:text="${captured.value}" class="form-control" rows="18" cols="20" disabled>

                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
